* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  z-index: 1;
}

/*==========ROOT==========*/
:root {
  /*==========MEASURES==========*/
  --height: 4.5rem;
  --margin-width: 6.4vw;
  /*==========MEASURES==========*/

  /*==========COLORS==========*/
  --color: 159;
  --color-light: hsl(var(--color), 65%, 88%, 1);
  --color-medium: hsl(var(--color), 36%, 57%, 1);
  --color-dark: hsl(var(--color), 41%, 10%, 1);
  --ice-white: hsl(0, 0%, 98%, 1);
  --white: hsl(0, 0%, 100%, 1);
  --gray: #e4e4e4;
  --text-gray: hsl(0, 0%, 46%, 1);
  /*==========COLORS==========*/
}

/*==========ROOT==========*/

/*==========GENERAL==========*/
main {
  overflow: hidden;
}

.margins {
  margin: 0 var(--margin-width);
}

.paddings {
  padding: calc(3.5rem + var(--height)) 0 5rem;
}

.paddings-2 {
  padding: calc(0.5rem + var(--height)) 0 5rem;
}

a.logo {
  color: var(--color-dark);
  font: 700 1.3125rem/2rem 'Poppins', sans-serif;
  cursor: pointer;
}

.logo span {
  color: var(--color-medium);
}

.title {
  font: 700 1.875rem/2.8125rem 'Poppins', sans-serif;
  color: var(--color-dark);
}

.title-2 {
  font: 700 1.5rem/2.25rem 'Poppins', sans-serif;
  color: var(--color-dark);
}

.text-smooth {
  font: 400 1rem/1.625rem 'DM Sans', sans-serif;
  color: var(--text-gray);
}

.get-in-contact {
  font: 500 1rem/1.3125rem 'DM Sans', sans-serif;
  color: var(--ice-white);
  background-color: var(--color-medium);
  padding: 0.875rem 2rem 0.9375rem;
  border-radius: 0.25rem;
}

.divider-1 {
  height: 1px;
  width: 100vw;
  background-image: linear-gradient(
    90deg,
    var(--ice-white),
    var(--color-medium)
  );
}

.divider-2 {
  height: 1px;
  width: 100vw;
  background-image: linear-gradient(
    270deg,
    var(--ice-white),
    var(--color-medium)
  );
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flex-1rem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/*==========GENERAL==========*/

/*==========HEADER==========*/
#header {
  position: fixed;
  width: 100vw;
  height: var(--height);
  background-color: var(--ice-white);
  border-bottom: solid 1px var(--gray);
  z-index: 100;
}

#header nav {
  position: relative;
  display: flex;
  height: var(--height);
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#header > .margins {
  margin: 0;
}

#header li {
  position: relative;
}

#header li a {
  transition: color 0.3s;
}

#header li:hover a {
  color: var(--color-medium);
}

#header li::after {
  content: '';
  visibility: hidden;
  position: absolute;
  bottom: -2rem;
  left: 0;
  width: 0%;
  height: 0.25rem;
  background-color: var(--ice-white);
  transition: width 0.5s;
}

@media (hover: hover) {
  #header li:hover::after {
    visibility: visible;
    width: 100%;
    background-color: var(--color-medium);
  }
} /* To prevent bugs on mobile devices when touching menu options*/

/*==========HEADER==========*/

/*==========NAVIGATION==========*/
#navigations {
  visibility: hidden;
  position: fixed;
  align-self: flex-start;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ice-white);
  padding: 23.1% 0;
  list-style-type: none;
}

.show #navigations {
  visibility: visible;
}

.show .icon-menu {
  visibility: hidden;
}

.show .icon-close {
  visibility: visible;
  position: fixed;
}

.icon-close {
  visibility: hidden;
}

.icon-menu,
.icon-close {
  position: absolute;
  right: 0;
  font-size: 1.5rem;
  color: var(--color-medium);
  z-index: 102;
  cursor: pointer;
  transition: color 0.3s;
}

.icon-menu:hover,
.icon-close:hover {
  color: var(--color-light);
}

/*==========NAVIGATION==========*/

/*==========HOME==========*/
#home {
  background-color: var(--ice-white);
}

#home section.image {
  width: min(89.58vw, 35.0625rem);
  position: relative;
}

#home img {
  position: relative;
  width: 100%;
  left: -2.4%;
  border-radius: 0.25rem;
}

#home .image::before {
  content: '';
  position: absolute;
  top: -16.79%;
  right: -16.69%;
  height: 100%;
  width: 100%;
  background-color: var(--color-light);
  border-radius: 0.25rem;
  z-index: 0;
}

#home section.margins {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-items: center;
  text-align: center;
}

#home .margins a {
  padding-top: 1rem;
}

#home .text-smooth {
  line-height: 1.3125rem;
}

#home section.margins div {
  padding-top: 1rem;
  margin-top: 1rem;
  position: relative;
  height: 3.3125rem;
}
/*==========HOME==========*/

/*==========ABOUT==========*/

#about .image {
  width: min(103.44vw, 38.5625rem);
  position: relative;
}

#about .image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  background-color: var(--color-light);
  left: -34.77%;
  top: -8.4%;
  z-index: 0;
  box-shadow: 0 4px 5px grey;
}

#about .image img {
  position: relative;
  border-radius: 0.25rem;
  width: 100%;
  left: -3.33%;
  box-shadow: 0 4px 5px grey;
}

/*==========ABOUT==========*/

/*==========SERVICES==========*/

#services {
  background-color: var(--ice-white);
}

#services section:first-child p {
  color: var(--color-dark);
}

#services section:first-child p span {
  color: var(--color-medium);
  font-weight: 700;
}

#services section.flex {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  padding: 3.625rem 2rem;
  border: 0.5px solid var(--gray);
  border-radius: 0.25rem;
  width: min(87.2vw);
  box-shadow: 0 0.25rem 0.25rem var(--color-medium);
  background-color: var(--ice-white);
}

.card.flex {
  align-items: center;
}

.card.flex .flex-1rem {
  text-align: center;
}

.card.flex div:first-child {
  font-size: 5rem;
  color: var(--color-medium);
}

/*==========SERVICES==========*/

/*==========TESTIMONIALS==========*/
.swiper-slide blockquote.flex {
  position: relative;
  justify-content: space-between;
  padding: 2rem;
}

blockquote span {
  position: absolute;
  top: 2rem;
  font: 400 3rem/0rem 'Montagu Slab', serif;
  color: var(--color-medium);
  transform: rotate(180deg);
}

cite.flex {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

cite img {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

#testimonials .swiper {
  width: calc(100vw - (2 * var(--margin-width)));
  padding: 1rem 1rem;
}

.swiper-slide {
  border: 0.5px solid var(--gray);
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.25rem var(--color-medium);
}

.swiper .swiper-pagination-bullet-active {
  background-color: var(--color-medium);
}

#testimonials .swiper .swiper-pagination-bullets .swiper-pagination-bullet {
  height: 0.75rem;
  width: 0.75rem;
}

#testimonials .swiper .swiper-pagination {
  position: relative;
  margin-top: 2rem;
}

/*==========TESTIMONIALS==========*/

/*==========CONTACT==========*/

#contact {
  background-color: var(--ice-white);
  display: flex;
  justify-content: center;
}

#contact > div > section > h2 {
  margin-bottom: 1rem;
}

#contact > div > section > p {
  margin-bottom: 3rem;
}

#contact > .flex {
  gap: 5rem;
}

#contact > .flex > section {
  width: min(87.2vw, 20.4375rem);
}

#contact .flex-1rem {
  flex-direction: row;
}

#contact .flex-1rem > div {
  font-size: 1.5rem;
  color: var(--color-medium);
}

/*==========CONTACT==========*/

/*==========FOOTER==========*/
footer {
  background-color: var(--color-medium);
}

footer .logo span {
  color: var(--ice-white);
}

footer > div.flex {
  gap: 1.5rem;
}

#bottom-icons {
  padding-top: 1rem;
  flex-direction: row;
}

#bottom-icons div {
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
}

#bottom-icons a {
  color: var(--ice-white);
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  transition: top 0.3s;
}

#bottom-icons a:hover {
  top: -0.25rem;
}

footer section.flex {
  gap: 1.5rem;
}

footer .flex-1rem {
  gap: 0.75rem;
}

footer .text-smooth {
  color: var(--ice-white);
}

/*==========FOOTER==========*/

/*=================================*/
/*==========RESPONSIVE==========*/
/*=================================*/

/*==========600px+==========*/

@media only screen and (min-width: 600px) {
  #home section.image,
  #about .image {
    margin: 0 auto;
  }

  #contact > .flex > section {
    width: max(29.58vw, 20.4375rem);
    margin-right: 2.5rem;
  }
}

/*==========850px+==========*/

@media only screen and (min-width: 850px) {
  .card {
    width: 41vw;
  }

  footer > .flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #contact > .flex {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
  }

  #contact {
    background-color: var(--ice-white);
    display: flex;
    justify-content: start;
  }

  #contact > .flex > .flex {
    align-self: center;
  }

  #contact .flex-1rem > .text-smooth {
    font-size: 1.3rem;
  }
}

/*==========1285px+==========*/

@media only screen and (min-width: 1285px) {
  :root {
    --margin-width: 9vw;
  }

  .card {
    width: 22rem;
  }

  .paddings {
    padding: calc(8.5rem + var(--height)) 0 10rem;
  }

  .paddings-2 {
    padding: calc(5.5rem + var(--height)) 0 10rem;
  }

  footer.paddings-2 {
    padding: calc(0.5rem + var(--height)) 0 5rem;
  }

  #home > .flex > .margins {
    margin: 0;
  }

  #home > div.flex {
    flex-direction: row-reverse;
    align-items: center;
    gap: 7.375rem;
    justify-content: space-between;
  }

  #about > div.flex {
    flex-direction: row;
    gap: 4.685vw;
  }

  #about > div.flex > section.margins.flex {
    margin-left: 0;
    width: 38.125rem;
  }
}
